h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
body span p{
    font-family: 'Roboto', sans-serif;
}
body .btn-primary {
    background-color: #ffffff !important;
    border-color: #ffffff;
    padding: 10px 4px;
    font-size: 16px;
    position: relative;
    z-index: 1;
    width: 119px;
    border-radius: 35px;
    color: #6486ef;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .4s;
    border-radius: 35px;
}
/* start css */
body .btn-primary:hover::after{
    width: 100%;
}
body .btn-primary:hover{
    border-color: #111;
}
.main_header .container .slider_section .container-fluid{
    max-width: 1480px;
}
.main_header{
    background: #e0e0e0;
}
ul.our_primary_menu{}
ul.our_primary_menu li{}
ul.our_primary_menu li a{
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}
.header_info{}
.main_header img{
    width: 70px;
    height: auto;
}
.header_search {
    width: 55px;
    text-align: center;
    font-size: 16px;
    border-right: 1px solid #111;
    margin-right: 15px;
}
.header_call{}
.header_call_icon {
    font-size: 19px;
    color: #e83b3e;
    margin-right: 10px;
}
.header_call_info{
    width: 300px;
}
.header_call_info span{
    display: block;
}
.header_call_info a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.header_button{}
ul.our_primary_menu li{
    position: relative;
}
ul.our_primary_menu li ul{
    position: absolute;
    width: 200px;
    list-style: none;
    left: 0;
    top: 160%;
    background: #fafafa;
    padding-left: 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
ul.our_primary_menu li ul li{}
ul.our_primary_menu li ul li a{
    text-decoration: none;
}
ul.our_primary_menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 190%;
}
/* slider section */
/* .slider_section{
    background: url(https://i.ibb.co/NSGpnS2/hero-image.jpg) no-repeat top center;
    background-size: cover;
} */
.slider_content_wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}
.slider_img img {
    border-radius: 50%;
    width: 800px;
    height: auto;
    position: absolute;
    top: -64px;
    right: -177px;
}
.second_btn{
    background-color: #3763eb !important;
    border-color: #3763eb;
    padding: 10px 4px;
    font-size: 16px;
    position: relative;
    z-index: 1;
    width: 119px;
    border-radius: 35px;
    color: #6486ef;
}

.second_btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .4s;
    border-radius: 35px;
}
.slider_content h1{
    font-size: 43px;
    margin-bottom: 20px;
}
.slider_content p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
}
.header_social{
    position: absolute;
    left: 0;
    bottom: 0;

}
.header_social ul{
    list-style: none;
    padding-left: 0;
}
.header_social ul li span{
    font-size: 18px;
    display: inline-block;
}
.header_social ul li span::after{
    content: "";
    height: 1px;
    background: #111;
    width: 35px;
    position: absolute;
    top: 51%;
    font-size: 19px;
}
.header_social ul li{}
.header_social ul li a{
    text-decoration: none;
    padding: 0 6px;
    display: inline-block;
    color: #111;
    font-size: 19px;
    margin-left: 35px;
}
